.container {
  width: 1140px;
  background-color: #ccc;
  margin: 0 auto;
  display: flex;
}
footer {
  background-color: rgb(101, 99, 216);
  border: 1px solid black;
}
header {
  background-color: rgb(101, 99, 216);
  border: 1px solid black;
}
body {
  background-color: rgb(78, 75, 252);
}
.fetured_item {
  background-color: rgb(99, 147, 243);
  width: 250px;
  margin: 50px;
}
button {
  width: 100%;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
}
.image_block {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
h5 {
  display: flex;
  justify-content: center;
}
